# IntelliJ IDEA
.idea/
*.iml
*.iws

# Сборка Gradle
/build/
.gradle/

# Сборка Maven
/target/

# Логи
*.log

# Кэш, временные файлы
*.class
*.jar
*.war
*.ear
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db

# Тестовые отчёты
/test-output/
